:local(.grid) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

:local(.gridItemBorder) {
    border: 1px solid black;
}

:local(.gridRow):nth-child(even) {
    background-color: #f2f2f2;
}

:local(.gridRow):hover {
    background-color: #ddd;
}
